body {
  background-color: #323b52;
  color: #bbc8e6;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

.weather {
  float:right;
  margin-top: 70px;
  clear:both;
}

.weathergrid {
  text-align: center;
}

.temp {
  font-size: 24px;
  font-weight: bold;
}

.logo {
  float:right;
  margin-top: 85px;
}

.flowrate {
  font-size: 26px;
}

.red {
  color: red;
}

.units {

}

#date-time {
  float: right;
  text-align: right;
}

.date {
  font-size: 50px;
}

.time {
  font-size: 36px;
}